.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 10px;
  outline: 1px solid var(--border);
}

.row span{
  border-right: 1px solid var(--border);
}

/* Amanejar numeros de serie, y estado independiente por cada producto en el inventario*/